<div class="resume-section-content" style="color:black;">
    <form method="post">

        <h2 class="mb-5"style="color:darkorange;">Əlaqə</h2>

        <label>Ad Soyad</label>
        <input  type="text" class="form-control" name="AdSoyad" />

        <label>Mail</label>
        <input type="text" class="form-control" name="Mail" />

        <label>Başliq</label>
        <input type="text" class="form-control" name="Konu" />

        <label>Mesaj</label>
        <input type="text" class="form-control" name="Mesaj" />
        <br />
        <button  class="btn btn-dark">Mesaj Gondər</button>

    </form>

</div>