@*@model MvcCv.Models.Entity.Tbl_Hobilerim

@{
    ViewBag.Title = "Elave";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<h2> Əlavə Et</h2>

<br />
<form method="post">

    @Html.Label("Acqilama 1")
    @Html.TextBoxFor(x => x.Aciklama1, new { @class = "form-control" })
    <br />
    @Html.Label("Aciqlama 2")
    @Html.TextBoxFor(x => x.Aciklama2, new { @class = "form-control" })
    <br />
    
</form>*@



