
@{
    ViewBag.Title = "DeneyimEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<br />
<h4>Əlavə Et</h4>
<form method="post">
    <label> Başliq </label>
    <input type="text" class="form-control" name="Baslik" />
    <br />
    <label> Alt Başliq</label>
    <input type="text" class="form-control" name="AltBaslik" />
    <br />
    <label> Aciqlama </label>
    <textarea class="form-control" name="Aciklama" rows="5"></textarea>
    <br />
    <label> Tarih </label>
    <input type="text" class="form-control" name="Tarih" />
    <br />
    <button class="btn btn-info">Kaydet</button>

</form>

