
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<br />
<br />
<h4>Əlavə Et</h4>
<form method="post">
    <label> AD</label>
    <input type="text" class="form-control" name="KullaniciAdi" />
    <br />
    <label> Şifrə</label>
    <input type="text" class="form-control" name="Sifre" />
    <br />
   
    <button class="btn btn-info">Kaydet</button>

</form>



