
@model  MvcCv.Models.Entity.Tbl_Sertifikalarim

@{
    ViewBag.Title = "SertifikatEKle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Sertifikat Əlavə  Et </h2>


<br />
<form method="post">

    @Html.Label("Aciqlama")
    @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })
  
 
    <br />

    @Html.Label("Tarix")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    <br />
    <button class="btn btn-info">Əlavə  Et</button>
</form>

