@using MvcCv.Models.Entity

@model List<Tbl_Port>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@*@foreach (var x in Model)
{


    <p class="lead mb-5" style="color:black">@x.Portfilo</p>
}*@